/* Modal container */
.deleteModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 500px;
    margin: auto;
    text-align: center; /* Center-align text content */
  }

  /* Heading style */
  .deleteModalContainer h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
  }

  /* Paragraph style for warning */
  .deleteModalContainer p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  /* Delete button styling */
  .deleteButton {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .deleteButton:hover {
    background-color: #e60026; /* Slightly darker red on hover */
  }

  .deleteButton:active {
    background-color: #b8001d; /* Even darker red on click */
  }

  .deleteButton:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    color: #aaa;
  }

  /* Responsive design */
  @media (max-width: 768px) {
    .deleteModalContainer {
      padding: 15px;
      width: 90%;
    }

    .deleteButton {
      font-size: 0.9rem;
    }
  }
